#formContainerSize .mCSB_scrollTools{
    width:8px;
}
#formContainerSize .mCS-dark.mCSB_scrollTools .mCSB_draggerRail{
    background-color: rgba(0,0,0,0);
}
#formContainerSize .mCSB_inside > .mCSB_container{
    margin-right: 0;
}
#formContainerSize .alert-footer button {
    padding: 7px 35px;
    margin-right: 20px;
}
#formContainerSize.form-horizontal{
    padding: 15px 15px;
    height: 400px;
    width: 971px;
}
#formContainerSize .left{
    float: left;
    /*background:skyblue;*/
    /*width:480px;*/
    color:#000;
    margin-right: 10px;
    height: 410px;
}
#formContainerSize .right{
    float: right;
    background:orange;
    width: 360px;
    padding-top: 7px;
    background: #f9f9f9;
    color:#000;
    height: 345px;
}

#formContainerSize .preName{
    height: 26px;
    line-height: 26px;
    width:70px;
    padding-right:4px;
    text-align: right;
    float: left;
 }
#formContainerSize .calName input{
    height: 26px;
    padding-left: 5px;
    line-height: 26px;
    width: 500px;
    border:1px solid #cdd0e3;
    border-radius: 4px;
}
#formContainerSize .list,.type{
    height: 37px;
    margin: 14px 0 0 0;
}
#formContainerSize .selectList{
    width: 129px;
    line-height: 26px;
    display: none;
    top: 25px;
    position: absolute;
    z-index: 3;
    /*float: left;*/
    border: 1px solid #CCCCCC;
    background: #fff;
    max-height: 200px;
    overflow-y: auto;
    background: #f9f9f9;
}
#formContainerSize .selectList li{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#formContainerSize #formulaList li{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#formContainerSize #contWrap{
    height: 275px;
    position: relative;
}
#formContainerSize #showArea{
    border-radius: 4px;
    border: 1px solid #cdd0e3;
    white-space: nowrap;
    position: absolute;
    left: 70;
    top: 0;
    width: 500px;
    height: 275px;
    font-size: 12px;
    color:#000;
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;
}
#formContainerSize #editArea{
    border-radius: 4px;
    border: 1px solid #cdd0e3;
    white-space:pre; 
    word-break: break-all;
    z-index: 2;
    position: absolute;
    left: 70;
    top: 0;
    width: 500px;
    height: 275px;
    text-fill-color:transparent;
    -webkit-text-fill-color: transparent;
    font-size: 12px;
    background: transparent;
}

#formContainerSize .str{
    color:green;
}
/*覆盖type下的下拉样式*/
#formContainerSize .type .selectList{
    top: 25px;
    left: -1px;
    position: absolute;
    display: block;
    z-index: 100;
    width: 120px;
}
 
#formContainerSize .formula{
    width: 114px;
    float: left;
    /*border: 1px solid #CCCCCC;*/
    margin-left:10px;
    /*margin-top: 17px;*/
}
#formContainerSize .formula .searchWrap{
    position: relative;
}
#formContainerSize .formula i{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 24px;
    right: 0;
    top: 6px;
    border-bottom: 1px solid #ccc;
}
#formContainerSize .formulaExp{
    height: 300px;
    width: 200px;
    float: left;
    padding: 15px;
}
#formContainerSize .formulaExp span{
    word-break: break-all;
}
#formContainerSize .formulaExp .title{
    font-size: 12px;
    font-weight:600;
    line-height: 25px;
    margin: 2px 0;
}
#formContainerSize .formulaExp .details{
    font-size: 12px;
    line-height: 25px;
    margin: 2px 0;
    height: 120px;
}
#formContainerSize .formulaExp .exp{
    font-size: 12px;
    line-height: 25px;
    margin: 2px 0;
    height: 130px;
}
#formContainerSize .formulaExp .exp b{
    color:#cda665;
}
#formContainerSize .formula input{
    width: 100%;
    height: 26px;
    line-height: 26px;
    padding: 0 5px;
    border: none;
}
#formContainerSize #formulaList{
    height: 300px;
    background: white;
    border: 1px solid #cdd0e3;
    border-top:none;
}
#formContainerSize #formulaList li{
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
}
#formContainerSize #formulaList li:hover{
    background: #01a2d9;
    color:#fff;
    cursor: pointer;
}
#formContainerSize .selectDiv{
    float: left;
    position: relative; 
    margin-right:14px;
}
#formContainerSize .selectDiv span{
    display: block;
    height: 26px;
    width: 130px;
    line-height: 26px;
    float: left;
    cursor: pointer;
    padding-left: 5px;
}
#formContainerSize .selectDiv span i{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 7px;
    right: 0;
}
#formContainerSize .selectDiv .selectList li{
    overflow: hidden;
    /*改成...*/
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
}
#formContainerSize .selectDiv .selectList li:hover{
    background:#01a2d9;
    color: #fff;
    cursor: pointer;
}

.blueBg{
    background: #ddd;
}
/*公式样式定义*/
#formContainerSize .num{
    color:orange;
}
#formContainerSize .sum{
    color:yellow;
}
#formContainerSize .ysf{
    color: #acc;
}
#formContainerSize .col{
    color:blue;
}
#formContainerSize .keyWords{
    color:gray;
}
#formContainerSize .illegal{
    color:red!important;
}
#formContainerSize #errMsg{  
    white-space: nowrap;
    overflow: hidden;
    width: 300px;
    font-size: 12px;
    color: red;
    height: 26px;
    line-height: 26px;
    float: left;
    word-break: break-all;
    text-overflow: ellipsis;
}







