    #formContainerSize .form-horizontal{
        padding: 20px 15px;
    }
  /*  #formContainerSize .form-container .form-item input[type=text]{
        height: 13px;
        line-height: 13px;
        padding: 4px 6px;
        float: left;
        margin: 0 2px;
        font-size: 12px;
        font-family: "SimSun";
    }
    #formContainerSize .form-group .data-nav{
        height: 33px;
        line-height: 33px;
    }
    #formContainerSize .form-group  input[type='text'],.form-group  input[type='password'],.form-group select{
        width: 300px;
        height:28px ;
        font-size: 12px;
        margin-top: 3px;
        margin-left: 6px;
    }
    #formContainerSize .form-group .control-label{
        width: 130px;
    }
    #formContainerSize div.flaot-l {
        display: inline-block;
        vertical-align: middle;
    }
    #formContainerSize .loading-table {
        height: 95px;
        line-height: 95px;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 24px;
        font-weight: bold;
        margin-top: -47px;
        margin-left: -140px;
    }*/

    /*以上是公共样式抽离*/


    /*#formContainerSize .form-group input[type='text'],
    .form-group input[type='password'],
    .form-group select {
        width: 220px;
        height: 25px;
        margin-top: 3px;
        margin-left: 6px;
    }
    
    #formContainerSize table th {
        font-size: 12px;
        padding: 0 20px;
        height: 30px;
        line-height: 30px;
    }

    #formContainerSize table td {
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        padding: 0 20px;
    }

    #formContainerSize .tab-header a {
        display: inline-block;
        width: 69px;
        height: 20px;
        line-height: 20px;
        text-align: center;
    }
    
    #formContainerSize ul.tab-list li {
        padding: 0 20px;
        height: 30px;
        line-height: 30px;
    }
        
    .tab-list .col-md-4 {
        height: 30px;
        line-height: 30px;
    }

    #jsgs {
        min-height: 40px;
        height: 100px;
        width: 495px;
        margin-left: 6px;
    }

    #formContainerSize .c-text {
        margin-left: 5px;
        border-radius: 2px;
        font-size: 12px;
        padding: 4px 10px;
        display: inline-block;
        position: relative;
    }

    #formContainerSize .c-text .del {
        position: absolute;
        right: 2px;
        top: -4px;
        cursor: pointer;
    }

    .tab-list-1 .data-size {
        font-size: 16px;
    }

    #formContainerSize .data-size {
        cursor: pointer;
    }
   
    #formContainerSize #createCol {
        position: relative;
        width: 350px;
    }

    #formContainerSize #table3Box {
        display: none;
        width: 100%;
        height: 180px;
        position: relative;
    }*/
/*border: 1px solid #CCCCCC;*/
/*background:#D7DCE0*/
/*background: url(../../img2/icon.png) no-repeat;*/
#formContainerSize .left{
    float: left;
    /*background:skyblue;*/
    width:480px;
    color:#000;
    height: 392px;
}
#formContainerSize .right{
    float: left;
    background:orange;
    width: 280px;
    padding-top: 5px;
    background: #f9f9f9;
    color:#000;
    height: 338px;
}

#formContainerSize .preName{
    height: 33px;
    line-height: 33px;
    width:70px;
    padding-right:10px;
    text-align: right;
    float: left;
 }
#formContainerSize .calName input{
    height: 33px;
    line-height: 33px;
    width: 400px;
}
#formContainerSize .list,.type{
    height: 35px;
    margin: 10px 0 0 0;
}
#formContainerSize .selectList{
    width: 100px;
    line-height: 33px;
    display: none;
    top: 33px;
    position: absolute;
    z-index: 3;
    /*float: left;*/
    border: 1px solid #CCCCCC;
    background: #fff;
    max-height: 200px;
    overflow-y: auto;
    background: #f9f9f9;
}
#formContainerSize #contWrap{
    width: 400px;
    height: 260px;
    position: relative;
}
#formContainerSize #showArea{
    white-space: nowrap;
    position: absolute;
    left: 70;
    top: 0;
    width: 400px;
    height: 260px;
    font-size: 12px;
    color:#000;
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;
}
#formContainerSize #editArea{
    white-space: nowrap; 
    word-break: break-all;
    z-index: 2;
    position: absolute;
    left: 70;
    top: 0;
    width: 400px;
    height: 260px;
    /*text-fill-color:transparent;*/
    /*-webkit-text-fill-color:transparent;*/
    font-size: 12px;
    background: transparent;
}

#formContainerSize .str{
    color:green;
}
/*覆盖type下的下拉样式*/
#formContainerSize .type .selectList{
    top: 25px;
    left: -1px;
    position: absolute;
    display: block;
    z-index: 100;
    width: 102px;
}
    
/*#formContainerSize .type .switch{
    display: block;
    left: 84px;
    z-index: 3;
    position: absolute;
    float: left;
    width: 100px;
    border: 1px solid #ccc;
    line-height: 25px;
    float: left;
    cursor: pointer;
    padding-left: 5px;
}
#formContainerSize .type .switch span{
    display: block;
    position: relative;
    height: 25px;
    width: 100px;
    line-height: 25px;
    float: left;
    cursor: pointer;
    padding-left: 5px;
}
#formContainerSize .type .switch span:hover{
    cursor: pointer;
    color: #fff;
    background:#40c0a8;
}
#formContainerSize .type .switch span i{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 7px;
    right: 7px;
}*/
/*#formContainerSize .type ul{
    height: 33px;
    width: 100px;
    line-height: 33px;
    float: left;
}*/
#formContainerSize .formula{
    width: 110px;
    float: left;
    border: 1px solid #CCCCCC;
    margin-left:10px;
    margin-top: 17px;
}
#formContainerSize .formula .searchWrap{
    position: relative;
}
#formContainerSize .formula i{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 24px;
    right: 0;
    top: 6px;
    border-bottom: 1px solid #ccc;
}
#formContainerSize .formulaExp{
    height: 300px;
    width: 155px;
    float: left;
    padding: 15px;
}
#formContainerSize .formulaExp .title{
    font-size: 14px;
    font-weight:600;
    line-height: 25px;
    margin: 2px 0;
}
#formContainerSize .formulaExp .details{
    font-size: 14px;
    line-height: 25px;
    margin: 2px 0;
}
#formContainerSize .formulaExp .exp{
    font-size: 14px;
    line-height: 25px;
    margin: 2px 0;
}
#formContainerSize .formula input{
    width: 90px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    border: none;
    border-bottom: 1px solid #ccc;
}
#formContainerSize #formulaList{
    height: 260px;
    background: white;
}
#formContainerSize #formulaList li{
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
}
#formContainerSize #formulaList li:hover{
    background: #40c0a8;
    color:#fff;
    cursor: pointer;
}
#formContainerSize .selectDiv{
    float: left;
    position: relative; 
    border: 1px solid #CCCCCC;
    margin-right:10px;
}
#formContainerSize .selectDiv span{
    display: block;
    height: 25px;
    width: 100px;
    line-height: 25px;
    float: left;
    cursor: pointer;
    padding-left: 5px;
}
#formContainerSize .selectDiv span i{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 7px;
    right: 0;
}
#formContainerSize .selectDiv .selectList li{
    overflow: hidden;
    /*改成...*/
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
}
#formContainerSize .selectDiv .selectList li:hover{
    background:#40c0a8;
    color: #fff;
    cursor: pointer;
}
.mCSB_scrollTools{
    width:8px;
}
/*公式样式定义*/
#formContainerSize .num{
    color:orange;
}
#formContainerSize .sum{
    color:yellow;
}
.ysf{
    color: #f00;
}
.col{
    color:blue;
}
.keyWords{
    color:gray;
}
.illegal{
    color:red!important;
}








